<form action="/products" method="put">
  Product name:
  <input type="text" name="name" value="{{name}}" />
  <br />
  Inventory:
  <input type="text" name="inventory" value="{{inventory}}" />
  <br />
  Price:
  <input type="text" name="price" value="{{price}}" />
  <br />
  <input type="submit" value="request" />
</form>