<form action="/products" method="post">
  Product name:
  <input type="text" name="name" />
  <br />
  Inventory:
  <input type="text" name="inventory" />
  <br />
  Price:
  <input type="text" name="price" />
  <br />
  <input type="submit" value="request" />
</form>