<h1>
  Input new product
</h1>
<form action="/products" method="post">
  Product name:
  <input type="text" name="name" />
  <br />
  Inventory:
  <input type="text" name="inventory" />
  <br />
  Price:
  <input type="text" name="price" />
  <br />
  <input type="submit" value="request" id="submitBtn" />
</form>
<a href="/products">
  <button>
    Back
  </button>
</a>