<h1 id="pageHeader">
  You are currently deleting product:
  {{productObj.name}}
</h1>
<div id="inputForm">
  <form action="/products/{{productObj.id}}/delete?_method=DELETE" method="POST">
    Enter product name to confirm deletion:
    <input type="text" name="name" />
    <button type="submit" id="submitBtn">
      Submit
    </button>
  </form>
</div>
<div id="error">
  {{error}}
</div>
<div id="backBtn">
  <a href="/products/{{productObj.id}}">
    <button>
      Back
    </button>
  </a>
</div>